/* Estilo global */
body {
    background-color: #bdc3c7;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/imagenFondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Estilo para el encabezado */
header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px 10%;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Estilo para el contenido */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Para que el contenido ocupe el espacio restante */
    padding: 40px;
    color: white;
    text-align: center;
}

.container h2 {
    font-size: 2em;
    margin: 20px 0;
}

.container p {
    font-size: 1.2em;
    margin: 10px 0;
    max-width: 600px;
}

/* Estilo para el botón */
.btn-start {
    background-color: #007bff; /* Azul claro */
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-start:hover {
    background-color: #0056b3; /* Azul más oscuro al hacer hover */
}

/* Estilo para el pie de página */
footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
