/* Estilo global */
body {
    background-color: #bdc3c7;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    margin-left: 250px; /* Ancho de la barra lateral */
    padding: 20px;
}

header {
    background-color: #34495e; /* Color de fondo azul oscuro */
    color: white; /* Color de texto blanco */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 28px;
    color: #ffffff; /* Color de texto blanco */
}

.add-task, .logout-btn {
    padding: 10px 20px;
    background-color: #28a745; /* Color de fondo verde para añadir tarea */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-task:hover {
    background-color: #218838; /* Color de fondo verde más oscuro al pasar el ratón */
}

.logout-btn {
    background-color: #007bff; /* Color de fondo azul para salir */
}

.logout-btn:hover {
    background-color: #0056b3; /* Color de fondo azul más oscuro al pasar el ratón */
}

.tareas-info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.tarea-card {
    background-color: #7e93ad; /* Color de fondo de la tarjeta de tarea (azul apagado) */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 450px; /* Ancho de la tarjeta de tarea */
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.tarea-details {
    flex-grow: 1; /* Para que ocupe el espacio restante */
}

.tarea-details h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.tarea-details p {
    font-size: 14px;
    margin-bottom: 5px;
}

.btn-ver {
    background-color: #007bff; /* Color de fondo azul para el botón de "Ver" */
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-ver:hover {
    background-color: #0056b3; /* Color de fondo azul más oscuro al pasar el ratón */
}

footer {
    background-color: #34495e; /* Color de fondo azul oscuro */
    color: #ffffff; /* Color de texto blanco */
    padding: 10px 20px;
    text-align: center;
    position: fixed; /* Fija el pie de página */
    bottom: 0; /* Lo coloca en la parte inferior */
    width: 100%; /* Ancho completo */
}

/* Colores para los diferentes estados de tarea */
.tarea-card.pendiente {
    background-color: orange;
}

.tarea-card.en_progreso {
    background-color: yellow;
}

.tarea-card.completada {
    background-color: green;
}

.tarea-card.cancelada {
    background-color: red;
}

/* Estilo para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-bottom: 10px;
    font-weight: bold;
}

.modal-content input[type="text"],
.modal-content input[type="date"],
.modal-content select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content button[type="submit"] {
    padding: 10px 20px;
    background-color: #28a745; /* Color de fondo verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button[type="submit"]:hover {
    background-color: #218838; /* Color de fondo verde más oscuro al pasar el ratón */
}

.terminar-btn, .comenzar-btn {
    background-color: #007bff; /* Color de fondo azul para el botón de "Ver" */
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.terminar-btn, .comenzar-btn {
    background-color: #0056b3; /* Color de fondo azul más oscuro al pasar el ratón */
}

.delete-btn {
    background-color: #e74c3c; /* Color de fondo rojo */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Ajusta la separación superior según tu diseño */
}

.delete-btn:hover {
    background-color: #c0392b; /* Color de fondo rojo más oscuro al pasar el ratón */
}
