body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2c3e50;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.logo {
    text-align: center;
    margin-bottom: 10px;
}

.logo img {
    max-width: 70%;
    height: auto;
}

.menu {
    width: 100%;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 15px 20px;
    transition: background 0.3s;
}

.menu li a {
    color: #b0c7d1;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.menu li:hover {
    background-color: #00aaff;
}

.menu li a:hover {
    color: #fff;
}

.notification-icon {
    position: relative;
    display: inline-block;
    font-size: 24px; /* Tamaño del contenedor */
    margin: 10px; /* Ajusta el margen según sea necesario */
}

.notification-icon .fas.fa-bell {
    font-size: 48px; /* Tamaño específico para la campanita */
    color: #ff0000; /* Color rojo brillante */
}
