<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Niños</title>
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="stylesheet" href="/css/kids.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
<div class="sidebar" th:replace="fragmentos/sidebar :: sidebar"></div>
<div class="content">
    <header>
        <h1>Niños</h1>
        <div>
            <input type="text" id="searchInput" placeholder="Buscar niños...">
            <button class="add-child" id="addChildBtn">Añadir niño</button>
            <a class="logout-btn" href="javascript:document.getElementById('logoutForm').submit()">Salir</a>
        </div>
    </header>

    <div class="kids-info" id="kidsInfo">
        <!-- Iteración sobre la lista de niños -->
        <div th:each="kid : ${kids}" class="kid-card">
            <img th:src="@{/images/perfil.png}" class="kid-image" alt="Imagen del niño">
            <div class="kid-details">
                <h2 th:text="${kid.nombre} + ' ' + ${kid.apellidos}" class="kid-name"></h2>
                <p th:text="'Fecha de nacimiento: ' + ${kid.fechaNacimiento}"></p>
                <p th:text="'Grupo: ' + ${kid.grupo.nombre}"></p>
            </div>
            <div>
                <button th:id="'btn-ver-' + ${kid.idKids}"
                        class="btn-ver"
                        th:data-nombre="${kid.nombre} + ' ' + ${kid.apellidos}"
                        th:data-fecha-nacimiento="${kid.fechaNacimiento}"
                        th:data-grupo="${kid.grupo.nombre}"
                        th:data-talla="${kid.tallaCamiseta}"
                        th:data-padre-nombre="${kid.nombrePadre}"
                        th:data-padre-telefono="${kid.telefonoPadre}"
                        th:data-madre-nombre="${kid.nombreMadre}"
                        th:data-madre-telefono="${kid.telefonoMadre}"
                        th:data-subgrupo="${kid.subgrupo != null ? kid.subgrupo.nombre : 'No está en ningún subgrupo'}"
                        th:data-alergias="${kid.alergias}">
                    VER
                </button>
                <form th:action="@{/kids/{id}(id=${kid.idKids})}" method="post" class="eliminar-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="delete-btn"
                            onclick="return confirm('¿Estás seguro de eliminar este niño?')">Eliminar
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
<footer>
    © 2024 Asociación de Campamento Aventura. Todos los derechos reservados.
</footer>
<form th:action="@{/usuario/logout}" method="post" id="logoutForm"></form>

<!-- Modal para ver datos del niño -->
<div id="kidModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modalKidName">Nombre del Niño</h2>
        <p id="modalKidDOB">Fecha de Nacimiento del Niño</p>
        <p id="modalKidShirtSize">Talla de Camiseta del Niño</p>
        <p id="modalKidParentName">Nombre del Padre del Niño</p>
        <p id="modalKidParentPhone">Teléfono del Padre del Niño</p>
        <p id="modalKidMotherName">Nombre de la Madre del Niño</p>
        <p id="modalKidMotherPhone">Teléfono de la Madre del Niño</p>
        <p id="modalKidGroup">Grupo del Niño</p>
        <p id="modalKidSubgroup">Subgrupo del Niño</p>
        <p id="modalKidAllergies">Alergias del Niño</p>
    </div>
</div>

<!-- Modal para añadir niño -->
<div id="addChildModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAddChildModal()">&times;</span>
        <h2>Añadir niño</h2>
        <form id="addChildForm" th:action="@{/kids}" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" required>

            <label for="fechaNacimiento">Fecha de nacimiento:</label>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>

            <label for="tallaCamiseta">Talla de camiseta:</label>
            <input type="text" id="tallaCamiseta" name="tallaCamiseta" required>

            <label for="nombrePadre">Nombre del padre:</label>
            <input type="text" id="nombrePadre" name="nombrePadre" required>

            <label for="telefonoPadre">Teléfono del padre:</label>
            <input type="text" id="telefonoPadre" name="telefonoPadre" required>

            <label for="nombreMadre">Nombre de la madre:</label>
            <input type="text" id="nombreMadre" name="nombreMadre" required>

            <label for="telefonoMadre">Teléfono de la madre:</label>
            <input type="text" id="telefonoMadre" name="telefonoMadre" required>

            <label for="grupoId">Grupo:</label>
            <select id="grupoId" name="grupoId" required>
                <option th:each="group : ${groups}" th:value="${group.idGrupo}" th:text="${group.nombre}"></option>
            </select>

            <button type="submit">Añadir niño</button>
        </form>
    </div>
</div>

<!-- Include JavaScript -->
<script src="/js/modalDatosKids.js"></script>
<script src="/js/searchKids.js"></script>
<script src="/js/addChild.js"></script>
</body>
</html>
